.blog-items { padding-top: 320px; padding-bottom: 200px; }
.blog-item { border-top: 1px solid #222; padding: 40px 0 50px; }
.inner { padding: 10px 0 80px; }

.blog-item .blog-content > *:not(:first-child) { margin: 30px 0; }

.blog-code { font-family: "Consolas"; padding: 5px 10px; background-color: #2b2e33; color: #ccc; letter-spacing: 0; line-height: 1.6; white-space: pre; overflow-x: scroll; }
span.blog-code { padding: 2px 5px; }
.blog-code .tab { display: inline-block; width: 40px; }

/* .blog-inner-paragraph:not(:first-child) { margin: 20px 0; } */

@media screen and ( max-width : 1023px ) {
    .blog-items { padding-top: 230px; }
}

@media screen and ( max-width : 767px ) {
    .blog-items { padding-top: 180px; }
}