.sec-blog-items { 
    padding-top: 320px; 
    padding-bottom: 200px; 

    .blog-item { 
        border-top: 1px solid #222; 
        padding: 40px 0 50px; 
        
        .blog-content {
            > *:not(:first-child) { margin: 30px 0; }

            .blog-code { 
                font-family: "Consolas"; 
                padding: 5px 10px; 
                background-color: #2b2e33; 
                color: #ccc; 
                letter-spacing: 0; 
                line-height: 1.6; 
                white-space: pre; 
                overflow-x: scroll; 
            }

            span.blog-code { padding: 2px 5px; }
        }
    }
} 

@media screen and ( max-width : 1023px ) {
    .sec-blog-items { padding-top: 230px; }
}

@media screen and ( max-width : 767px ) {
    .sec-blog-items { padding-top: 180px; }
}