
/* COMMON */
/* -------------------------------------- */
.subpage-content { overflow: hidden; }
.subpage-content section { margin: 150px 0; }
.subpage-content section.sec-summary .f-normal strong { display: block; }
.subpage-content section .text-wrap { margin: 0 7%; margin-bottom: 30px; }
.subpage-content section .text-wrap .f-title { margin-left: -.12em; margin-bottom: 20px; }
.subpage-content section .text-wrap .f-heading { margin-bottom: 20px; }
.subpage-content section .text-wrap .f-normal:not(:last-child) { margin-bottom: 30px; }
.subpage-content section .text-wrap .f-normal strong { color: white; font-weight: 400; }
.subpage-content section .text-wrap.title-area > * { margin: 30px 0; }
.subpage-content section .text-wrap.title-area > *:first-child { margin-top: 0; }
.subpage-content section .text-wrap.title-area > *:last-child { margin-bottom: 0; }
.subpage-content section img { display: block; width: 100%; }
.subpage-content section iframe { display: block; }
.subpage-content section .center-wrap { width: 100%; padding: 60px 0 80px; background-color: #282828; }
.subpage-content section .center-wrap img { margin: 0 auto; }
.subpage-content section .image-wrap { overflow: hidden; }
.subpage-content section .bgimg { background-size: cover; background-position: center; }
@media screen and ( max-width: 1023px ) {
    .subpage-content { padding-top: 30px }
    .subpage-content section .text-wrap { margin: 0 15px; margin-bottom: 20px; }
}
@media screen and ( max-width: 767px ) {
    .subpage-content section { margin: 80px 0; }
    .subpage-content section .text-wrap { margin: 0 10px; margin-bottom: 15px; }
    .subpage-content section .text-wrap.title-area > * { margin: 30px 0; }
}
@media screen and ( max-width: 450px ) {
    .subpage-content section .text-wrap.title-area span { display: block }
}

/* WORK DETAIL Each Section */
/* -------------------------------------- */
.subpage-content .detail-each section { padding: 150px 0 0; margin: 0; }
.subpage-content .detail-each section:nth-child(2n-1) { background-color: #1d1d1d; }
.subpage-content .detail-each section:nth-child(2n) { background-color: #111; }
.subpage-content .detail-each section:nth-child(2n) .center-wrap { background-color: #191919; }
@media screen and ( max-width: 767px ) {
    .subpage-content .detail-each section { padding-top: 80px }
}

/* 섹션별 */
.subpage-content .detail-each section.sec-bright { background-color: #222; }
.subpage-content .detail-each section.sec-padded-end { padding-bottom: 150px; }
.subpage-content .detail-each section.sec-style-guide .text-wrap:not(:last-child) { padding-bottom: 70px; border-bottom: 1px solid #292929; }
.subpage-content .detail-each section > * > * { margin-bottom: 70px; }
.subpage-content .detail-each section > *:last-child > *:last-child:not(.l-row) { margin-bottom: 0px; }
@media screen and ( max-width: 767px ) {
    .subpage-content .detail-each section.sec-style-guide .text-wrap:not(:last-child) { padding-bottom: 30px; }
    .subpage-content .detail-each section > * > *:not(:last-child) { margin-bottom: 30px; }
}


/* 목업 */
.mockup-wrap { position: relative; }
.mockup-wrap .mockup-img { width: 70vw; }
.mockup-wrap .mockup-img.with-mobile { width: 63vw; margin: 0 auto 0 12vw; }
.mockup-wrap .mobile-img { position: absolute; bottom: -8em; left: 0; background-size: cover; width: 28%; }
.mockup-wrap .mobile-img:hover { opacity: 0; }
.mockup-wrap .mobile-img-screen { margin: 4%; margin-bottom: 15%; width: 70.5%; background-size: cover; }
@media screen and ( max-width: 1023px ) {
    .mockup-wrap .mockup { width: 90vw; margin: 0; }
    .mockup-wrap .mockup-img { width: 90vw; }
    .mockup-wrap .mockup-img.with-mobile { width: 75vw; }
}

@media screen and ( max-width: 767px ) {
    .mockup-wrap .mobile-img { display: none; }
    .mockup-wrap .mockup-img.with-mobile { width: 90vw; margin: 0; }
}

/* 키비주얼 */
.bgimg-wrap { height: 40vh; }
.bgimg { width: 80vw; height: 50vh; }
@media screen and ( max-width: 1023px ) {
    .subpage-content section.sec-detail-keyvisual { margin-bottom: 1px; }
    .bgimg-wrap { height: 30vh; }
    .bgimg { width: 100vw; height: 40vh; }
}
@media screen and ( max-width: 767px ) {
    .bgimg-wrap { height: 20vh; }
    .bgimg { height: 30vh; }
}

/* 사이트보기 버튼 */
.viewsite-btn { position: fixed; top: 260px; left: 6%; width: 67px; color: #bbb; z-index: 9998; text-align: center; line-height: 1.2; font-size: 14px; transition: .5s; }
.viewsite-btn.is-hidden { display: block; opacity: 0; transform: scale(.5); }
.viewsite-btn:hover { color: #ff4b7b; transform: scale(1.2); }

/* 키워드 */
.subpage-content .info .keywords { display: inline-block; color: #aaa; overflow: hidden; }
.subpage-content .info .keywords li { float: left; margin-right: 30px; }
.subpage-content .info .keywords li:last-child { margin-right: 0; }
.subpage-content .info .keywords li .btn-viewsite { color: #ff4b7b; transition: .3s; }
.subpage-content .info .keywords li .btn-viewsite:hover { color: white; }

/* 다음글, 이전글 */
/* ----------------------------- */
/* 버튼 */
.next-and-prev { margin: 230px 0; }
.next-and-prev .btn-wrap { position: relative; float: left; width: 50%; color: white; }
.next-and-prev .btn-wrap.next { text-align: left; float: right; padding-left: 50px; }
.next-and-prev .btn-wrap.prev { text-align: right; padding-right: 50px; }
.next-and-prev .btn-wrap.next > * { float: left; }
.next-and-prev .btn-wrap.prev > * { float: right; }

/* 썸네일 */
.next-and-prev .btn-wrap .radius { position: relative; width: 85px; height: 85px; border-radius: 50px; border: 1px solid; transform: scale(1); transition: .5s; overflow: hidden; }
.next-and-prev .btn-wrap .radius .bg { width: 100%; position: absolute; top: 0; bottom: 0; background-color: #3976fe; opacity: 0; transition: .5s; background-size: cover; background-position: center; }
.next-and-prev .btn-wrap .stick { position: relative; width: 150px; height: 1px; background-color: #3976fe;; top: 42px; right: 42px; }
.next-and-prev .btn-wrap.next .stick { left: 42px; right: auto; background-color: #ff4b7b; }

/* 텍스트 */
.next-and-prev .btn-wrap .text-wrap { margin-right: 30px; transition: .5s; }
.next-and-prev .btn-wrap.next .text-wrap { margin-right: 0; margin-left: 30px; }
.next-and-prev .btn-wrap.next .text-wrap .f-normal { color: #ff4b7b; }
.next-and-prev .btn-wrap.prev .text-wrap .f-normal { color: #3976fe; }

@media screen and ( min-width: 1200px ) {
    .next-and-prev .btn-wrap:hover .radius { transform: scale(1.8); }
    .next-and-prev .btn-wrap:hover .radius .bg { opacity: 1; }
    .next-and-prev .btn-wrap:hover .text-wrap { margin: 0 60px; }
}

@media screen and ( max-width: 1400px ) {
    .next-and-prev .btn-wrap.next { padding-left: 30px; }
    .next-and-prev .btn-wrap.prev { padding-right: 30px; }
    .next-and-prev .btn-wrap .stick { display: none; }
    .next-and-prev .btn-wrap .radius .bg { opacity: 1; }
}

@media screen and ( max-width: 1200px ) {
    .next-and-prev { margin: 150px 0 200px; }
    .next-and-prev .btn-wrap .radius { border-radius: 0; border: 0; width: 100%; }
    .next-and-prev .btn-wrap.next .text-wrap,
    .next-and-prev .btn-wrap.prev .text-wrap { margin-left: 0; margin-top: 30px; }
    .next-and-prev .btn-wrap.next > *,
    .next-and-prev .btn-wrap.prev > * { float: none; text-align: left; }
}


/* WORK DETAIL Each Pages */
/* -------------------------------------- */
/* 빅픽처 엔터테인먼트 */
.biglogo-svg { display: block; width: 40%; height: 40%; margin: 0 auto; }

@media screen and ( max-width: 1023px ) {
    .viewsite-btn {
        top: 20px;
        left: 9%;
    }
}