.bigmenu-title-wrapper {
    position: absolute;
    left: 25%;
    transition: 1.6s;
    margin-top: 80px;
    margin-left: -.5em;
    z-index: 500;
}

.bigmenu-title-wrapper.centered {
    left: 50%;
    transform: translateX( -50% );   
    margin-left: 0;
}

.bigmenu-title-wrapper .f-title {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}

.bigmenu-title-wrapper .f-title p {
    display: none;
}

.work-items {
    position: relative;
    top: 270px;
    margin-bottom: 470px;
    padding-top: 135px;
    width: 100%;
    overflow: hidden;
}
.work-items .l-row {
    overflow: visible;
}

.work-items .item {
    display: block;
    height: 23vw;
}

.work-items .l-col:nth-child(2n) {
    transform: translateY(-25%);
}



.grid-item {
    display: block;
    position: relative;
    height: 100%;
    overflow: hidden;
}

.grid-item .background {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: #111;
    background-size: auto 100%;
    background-position: center;
    transition: .5s;
    opacity: .7;
}

.grid-item .textbox {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    text-align: left;
    padding: 10%;
    color: white;
    /* margin: 20px; */
    background-color: rgba(24, 22, 26, 0.7);
    transition: .5s;
    opacity: 0;
}

.grid-item:hover .textbox {
    opacity: 1;
}

.grid-item:hover .background {
    transform: scale(1.2);
}

.grid-item .textbox .bottom {
    position: absolute;
    bottom: 10%;
}

.grid-item .textbox .f-heading {
    text-transform: uppercase;
}

.grid-item .textbox .f-normal {
    color: #a098a3;
}

.grid-item .textbox .category {
    font-size: 16px;
    font-weight: 600;
    color: #ff75a3;
}

@media screen and ( max-width: 1400px ) {
    .work-items { top: 210px; }
    .bigmenu-title-wrapper .f-title { font-size: 50px; }
}

@media screen and ( max-width: 1024px ) {
    main.subpage-content {
        margin-left: 0;
        width: 100%;
    }
    .bigmenu-title-wrapper { left: 7%; padding: 0 30px; margin-top: 67px; }

    .work-items { padding-top: 95px; }
    .work-items .item { height: 32vw; }

}

@media screen and ( max-width: 767px ) {
    .bigmenu-title-wrapper { left: 4%; }
    .bigmenu-title-wrapper .f-title {
        font-size: 40px;
    }
}

@media screen and ( max-width: 500px ) {
    .bigmenu-title-wrapper .f-title {
        font-size: 25px;
    }
    .work-items {
        padding-top: 50px;
    }
}
