.bigmenu-title-wrapper {
    position: absolute;
    left: 25%;
    transition: all 1.6s, opacity 1s;
    margin-top: 80px;
    margin-left: -.5em;
    z-index: 500;
}

.bigmenu-title-wrapper.centered {
    left: 50%;
    transform: translateX( -50% );   
    margin-left: 0;
}

.bigmenu-title-wrapper .f-title {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    transition: opacity 1s;
}

.bigmenu-title-wrapper .f-title p {
    display: none;
    transition-timing-function: cubic-bezier(.02,.61,.29,1);
}

.work-items {
    position: relative;
    top: 28vh;
    margin-bottom: 350px;
    padding-top: 135px;
    width: 100%;
}
.work-items .l-row {
    overflow: visible;
}

.work-items .item {
    display: block;
    height: 23vw;
    transition: opacity 1s;
}

.work-items .l-col:nth-child(2n) {
    transform: translateY(-25%);
}

.grid-item {
    display: block;
    position: relative;
    height: 100%;
    overflow: hidden;
}

.grid-item .background {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: #111;
    background-size: auto 100%;
    background-position: center;
    transition: .5s;
    opacity: .7;
}

.grid-item .textbox {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    text-align: left;
    padding: 10%;
    color: white;
    /* margin: 20px; */
    background-color: rgba(24, 22, 26, 0.7);
    transition: .5s;
    opacity: 0;
}

.grid-item:hover .textbox {
    opacity: 1;
}

.grid-item:hover .background {
    transform: scale(1.2);
}

.grid-item .textbox .bottom {
    position: absolute;
    bottom: 10%;
}

.grid-item .textbox .f-heading {
    text-transform: uppercase;
}

.grid-item .textbox .f-normal {
    color: #a098a3;
}

.grid-item .textbox .category {
    font-size: 16px;
    font-weight: 600;
    color: #ff75a3;
}

.portfolio-history { margin-bottom: 300px; }
.portfolio-history section .text-wrap .f-heading { font-size: 65px; margin-bottom: 70px; }
.portfolio-history section .text-wrap .link a { display: inline-block; border-bottom: 1px solid #333; transition: .5s; }
.portfolio-history section .text-wrap .link a:hover { color: #aaa; border-color: #b34260; }

@media screen and ( max-width: 1400px ) {
    .work-items { top: 210px; }
    .bigmenu-title-wrapper .f-title { font-size: 50px; }
}

@media screen and ( max-width: 1023px ) {
    .bigmenu-title-wrapper { left: 0; padding-left: 45px; margin-top: 67px; margin-left: -0.3em; }
    .work-items { padding-top: 95px; margin-bottom: 300px; }
    .work-items .item { height: 32vw; }
    .portfolio-history { margin-bottom: 200px; }
}

@media screen and ( max-width: 767px ) {
    .bigmenu-title-wrapper { padding-left: 30px; }
    .bigmenu-title-wrapper .f-title { font-size: 40px; }
    .grid-item .textbox { opacity: .7; background-color: transparent; }
    .grid-item .textbox .category { display: none; }
    .grid-item .textbox .f-heading { font-size: 17px; width: 42vw; }
    .portfolio-history section .text-wrap .f-heading { font-size: 38px; margin-bottom: 50px; }
    .portfolio-history section .text-wrap .link:not(:last-child) { margin-bottom: 15px; }
}

@media screen and ( max-width: 500px ) {
    .bigmenu-title-wrapper .f-title {
        font-size: 21px;
        margin-left: 2px;
    }

    .work-items {
        padding-top: 50px;
    }
}
