.lab-detail-wrapper {
    position: relative;
}

.lab-detail-wrapper .head {
    padding: 64px 0;
}

.lab-detail-wrapper h1 {
    font-size: 68px;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1;
    color: white;
    text-align: center;
}

#canvasCells,
#canvasGravity,
#canvasCollision1,
#canvasCollision2 {
    position: fixed;
    top: 0;
}
