.works-detail-wrapper .f-title {
    color: white;
}

.viewsite-btn {
    position: fixed;
    top: 150px;
    left: 64px;
    width: 58px;
    height: 58px;
    border: 1px solid rgba( 255, 255, 255, .3 );
    color: #bbb;
    border-radius: 50%;
    z-index: 9999;
    text-align: center;
    line-height: 1.2;
    font-size: 14px;
    transition: .5s;
}

.viewsite-btn.is-hidden {
    display: block;
    opacity: 0;
    transform: scale(.5);
    
}

.viewsite-btn p {
    margin-top: 13px;
}

.viewsite-btn:hover {
    border-color: rgba( 255, 255, 255, .7 );
    color: white;
    transform: scale(1.05);
}

.works-detail-wrapper .key-visual {
    height: 100vh;
}

.works-detail-wrapper .key-visual .bg-wrap {
    position: relative;
    background-color: #555;
    height: 82vh;
    overflow: hidden;
}

.works-detail-wrapper .key-visual .bg-wrap .bg {
    position: absolute;
    top: 0; bottom: 0;
    width: 100%;
    background-size: cover;
    background-position: center;
    transform: translateY(0);
}

.works-detail-wrapper .key-visual .bg-wrap .textbox {
    position: absolute;
    text-align: center;
    bottom: 50px;
    width: 100%;
}

.works-detail-wrapper .key-visual .bg-wrap .textbox .f-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 55px;
    letter-spacing: .2em;
    white-space: nowrap;
}

.works-detail-wrapper .key-visual .bg-wrap .textbox .f-subhead {
    color: #3976fe;
}

.works-detail-wrapper .key-visual .info {
    position: relative;
    text-align: center;
}

.works-detail-wrapper .key-visual .info .keywords {
    display: inline-block;
    color: #aaa;
    overflow: hidden;
    margin-top: 50px;
}

.works-detail-wrapper .key-visual .info .keywords li {
    float: left;
    margin-right: 30px;
}

.works-detail-wrapper .key-visual .info .keywords li:last-child {
    margin-right: 0; 
}

.works-detail-wrapper .key-visual .info .keywords li .btn-viewsite {
    color: #ff4b7b;
    transition: .3s;
}

.works-detail-wrapper .key-visual .info .keywords li .btn-viewsite:hover {
    color: white;
}

.next-and-prev {
    margin: 150px 0;
}

.next-and-prev .btn-wrap {
    position: relative;
    float: left;
    width: 50%;
    color: white;
    cursor: pointer;
}

.next-and-prev .btn-wrap.next {
    float: right;
    padding-left: 50px;
}

.next-and-prev .btn-wrap.prev {
    text-align: right;
    padding-right: 50px;
}

.next-and-prev .btn-wrap.next > * {
    float: left;
}

.next-and-prev .btn-wrap.prev > * {
    float: right;
}

.next-and-prev .btn-wrap .radius {
    position: relative;
    width: 85px;
    height: 85px;
    border-radius: 50px;
    border: 1px solid;
    transform: scale(1);
    transition: .5s;
    overflow: hidden;
}

.next-and-prev .btn-wrap .radius .bg {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #3976fe;
    opacity: 0;
    transition: .5s;
    background-size: cover;
}

.next-and-prev .btn-wrap:hover .radius {
    transform: scale(1.8);
}

.next-and-prev .btn-wrap:hover .radius .bg {
    opacity: 1;
}

.next-and-prev .btn-wrap .stick {
    position: relative;
    width: 150px;
    height: 1px;
    background-color: #3976fe;;
    top: 42px;
    right: 42px;
}

.next-and-prev .btn-wrap.next .stick {
    left: 42px;
    right: auto;
    background-color: #ff4b7b;
}


.next-and-prev .btn-wrap .text-wrap {
    margin: 0 30px;
    transition: .5s;
}

.next-and-prev .btn-wrap:hover .text-wrap {
    margin: 0 60px;
}

.next-and-prev .btn-wrap.next .text-wrap .f-normal {
    color: #ff4b7b;
}

.next-and-prev .btn-wrap.prev .text-wrap .f-normal {
    color: #3976fe;
}