header {
    position: fixed;
    width: 20%;
    height: 100%;
    z-index: 9998;
}

/* Common */
.header-buttons {
    position: absolute;
    left: 30%;
    width: 67px;
    height: 67px;
    padding: 22px; 
}

/* 뒤로가기 버튼 */
.back-btn {
    top: 160px;
    outline: none;
}

.back-btn .arrow {
    margin-left: 4px;
    width: 24px;
    height: 24px;
    transform: rotate(-45deg) scale(1.0);
    transition: .5s;
    border: 3px solid #888;
    border-bottom: 0;
    border-right: 0;
}

.back-btn:hover .arrow {
    transform: rotate(315deg) scale(1.1);
    border-color: white;
}

/* 햄버거메뉴 버튼 */
.gnb-btn {
    bottom: 160px;
    transition: .5s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.gnb-btn .gnb-btn-lines {
    position: relative;
    width: 100%;
    height: 100%;
}

.gnb-btn .gnb-btn-line {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    height: 3px;
    border-radius: 3px;
    margin: 0 auto;
    background-color: #888;
    transition: .5s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.gnb-btn .gnb-btn-line.line1 {
    top: 1px;
}

.gnb-btn .gnb-btn-line.line2 {
    top: 9px;
    right: 5px;
}

.gnb-btn .gnb-btn-line.line3 {
    top: 17px;
}

.gnb-btn:hover .gnb-btn-line {
    background-color: white;
}

.gnb-btn:hover .gnb-btn-line.line2 {
    right: 0;
}

.gnb-btn .gnb-btn-line.line1.cue1 {
    top: 9px;
    transform: rotate(0deg);
}

.gnb-btn .gnb-btn-line.line2.cue1 {
    opacity: 1;
}

.gnb-btn .gnb-btn-line.line3.cue1 {
    top: 9px;
    transform: rotate(0deg);
}


.gnb-btn .gnb-btn-line.line1.cue2 {
    transform: rotate(135deg);
    animation-name: line1;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation-duration: .5s;
    animation-direction: normal;
}

.gnb-btn .gnb-btn-line.line2.cue2 {
    opacity: 0;
}

.gnb-btn .gnb-btn-line.line3.cue2 {
    transform: rotate(45deg);
    animation-name: line3;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation-duration: .5s;
    animation-direction: normal;
}

.hamberger-menu {
    bottom: 200px;
    left: 45%;
    height: auto;
    width: auto;
    margin-top: 10px;
}

.hamberger-menu li {   
    opacity: 0;
    pointer-events: none;
    transition: 1s;
    transform: skew( -15deg ) translateY( 100px );
}

.hamberger-menu li:nth-child(2) {
    transform: skew( -17deg ) translateY( 125px );
}

.hamberger-menu li:nth-child(3) {
    transform: skew( -19deg ) translateY( 150px );
}

.hamberger-menu.is-active li {
    opacity: 1;
    pointer-events: all;
    transform: skew( 0 ) translateY( 0 );
}

.hamberger-menu .menu-item {
    font-size: 42px;
    display: block;
    letter-spacing: 0em;
    transition: .5s;
    color: #555;
}

.hamberger-menu .menu-item:hover {
    letter-spacing: .1em;
    transform: skew( -15deg );
    color: #ddd;
}

.hamberger-menu .menu-item.is-disabled {
    opacity: .2;
    pointer-events: none;
}

/* Top 버튼 */
.button-top {
    transition: .5s;
    bottom: 80px;
}

.button-top .icon {
    width: 15px;
    height: 15px;
    margin: auto;
    border-top: 2px solid;
    border-left: 2px solid;
    border-color: #888;
    transform: rotate(45deg);
    transition: .5s;
}

.button-top:hover .icon {
    transform: rotate(405deg) scale(1.5);
    border-color: #3976fe;
}

.button-top .f-subhead {
    color: #888;
    text-align: center;
    margin: 0 -3px;
    line-height: 1;
    transition: .5s;
}

.button-top:hover .f-subhead {
    color: #fff;
}


@keyframes line1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(135deg);
    }
}

@keyframes line3 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@media screen and ( max-width: 1024px ) {
    header {
        width: 100%;
        pointer-events: none;
    }

    header * {
        pointer-events: all;
    }

    .back-btn {
        top: 0;
        left: 0;
    }

    .gnb-btn {
        top: 0;
        right: 0;
        left: auto;
    }

    .button-top {
        right: 50px;
        bottom: 50px;
        left: auto;
        background-color: rgba( 0, 0, 0, .8 );
        border-radius: 50px;
    }

    .button-top .icon {
        margin-top: -4px;
    }

    .button-top .f-subhead {
        font-size: 21px;
    }

    .hamberger-menu {
        top: 0;
        bottom: auto;
        left: auto;
        right: 50px;
    }

    .hamberger-menu .menu-item:hover {
        letter-spacing: 0;
        transform: none;
        color: #ddd;
    }
}