header {
    position: fixed;
    width: 20%;
    height: 100%;
    z-index: 9998;
}

/* Common */
.jsAnimButtons {
    &.cue1 {
        opacity: 1;
        transform: translateX(0);
    }
} 


@media screen and ( max-width: 1023px ) {
    header {
        width: 100%;
        pointer-events: none;

        * { pointer-events: all; }
        
        &::before { 
            content: ' '; 
            position: absolute; 
            top: 0; 
            height: 67px; 
            width: 100%; 
            z-index: 0; 
            background-color: rgba( 0, 0, 0, .8 ); 
        } 
    }
}

