@import url('https://fonts.googleapis.com/css?family=Germania+One');

.bang-wrap { 
    position: relative;
    text-align: center;
    color: black;
    width: 100%;
    height: 600px;
    margin: auto;
}

.bang-wrap .card-wrap {
    position: absolute;
    top: 20px; left: 20px; right: 20px; bottom: 20px;
    margin: auto;
    padding: 30px;
    max-width: 380px; max-height: 600px;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
}

.bang-wrap .main { 
    position: absolute;
    top: 45%; left: 0; right: 0;
    transform: translateY(-50%);
    height: 300px;
    width: 150px;
    margin: auto;
    
}
.bang-wrap .main #shape {
    width: 150px; height: 150px;
    background-image: url(../../images/bangcard/pickcard-sprite.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0;
}
.bang-wrap .main #shape.heart { background-position: 0 0; }
.bang-wrap .main #shape.club { background-position: -150px 0; }
.bang-wrap .main #shape.spade { background-position: 0 -150px; }
.bang-wrap .main #shape.diamond { background-position: -150px -150px; }

.bang-wrap .main #number {
    font-size: 145px;
    font-weight: 100;
    line-height: 1;
    opacity: 0;
}

.bang-wrap #loading {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    height: 20px;
    margin: auto;
}

.bang-wrap #loading li {
    display: inline-block;
    margin-right: 20px;
    width: 20px; height: 20px;
    background-color: black;
    border-radius: 20px;
    opacity: 0;
}

.bang-wrap #loading li:last-child {
    margin-right: 0;
}

.bang-wrap .bang-btn {
    position: absolute;
    left: 30px; right: 30px; bottom: 30px;
    background-color: #db4242;
    color: white;
    padding: 12px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    transition: .5s;
}

.bang-wrap .bang-btn:hover {
    background-color: #b12727;
}

.bang-wrap #cover {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #ddd;
}

.bang-wrap #cover .text-wrap {
    position: absolute;
    left: 50%;
    bottom: 46%;
    transform: translateX(-50%);
}

.bang-wrap #cover .text-wrap .cover-bang {
    opacity: .5;
}

.bang-wrap #cover .text-wrap .cover-draw-eng {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 10px;
    font-family: 'Germania One', cursive;
}

.bang-wrap #cover .text-wrap .cover-draw {
    color: #db4242;
}

@media screen and (max-device-width: 1260px) {
    .bang-wrap .card-wrap {
        max-width: 100%; max-height: 100%;
    }
}