.rpg-moving-wrapper {
    position: relative;
    width: 960px;
    height: 640px;
    margin: auto;
}

.rpg-moving-wrapper canvas {
    width: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
    image-rendering: pixelated;
}

.rpg-moving-wrapper #rpgMovingScreen2 {
    z-index: 10;
}