.user-form {
    position: absolute;
    bottom: 15%;
    font-size: 15px;
    font-weight: 100;
}

.user-form input[type="text"] {
    display: block;
    min-width: 300px;
    background-color: transparent;
    color: #bd709a;
    padding: 5px 0;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 0;
    overflow: visible;
    transition: .5s;
    border: 0;
    border-bottom: 1px solid #864f6e;
    z-index: 50;
}

.user-form .focused-text {
    position: absolute;
    top: .2em;
    color: #6d4059;
    transition: .3s;
    z-index: 40;
    pointer-events: none;
}

.user-form.has-focus .focused-text {
    top: -1.5em;
    left: -.1em;
    font-size: .8em;
    color: #3976fe;
}

.user-form input:focus,
.user-form input:active {
    outline: none;
    border-bottom: 1px solid #3976fe;
}

.user-form .register {
    display: block;
    padding: 5px 0;
    color: #3976fe;
}

.user-form .f-normal {
    padding: 2em 0 0;
}