

.lab-slider-wrapper {
    position: relative;
}

.lab-slider-wrapper .slider {
    text-align: left;
    height: 520px;
    margin-left: 10vw;
    position: relative;
}

.lab-slider-wrapper .btn-wrap {
    position: absolute;
    height: 520px;
    top: 0;
    width: 100%;
}

.lab-slider-wrapper .btn {
    content: ' ';
    position: absolute;
    width: 120px;
    height: 240px;
    top: 50%;
    left: 5vw;
    transform: translateY(-50%) scale(1);
    background-color: #3e4044;
    background: url(../images/labslider-arrows.png) no-repeat;
    background-position: 0 0;
    cursor: pointer;
    z-index: 100;
    transition: .5s;
    opacity: .6;
}

.lab-slider-wrapper .btn:hover {
    transform: translateY(-50%) scale(1.1);
    opacity: 1;
}

.lab-slider-wrapper .btn.right {
    right: 5vw;
    left: auto;
    background-position: -120px 0;
}

.lab-slider-wrapper .slider-item {
    width: 400px;
    position: absolute;
    opacity: .15;
    transition: 1.5s;
}

.lab-slider-wrapper .slider-item .slider-inner {
    margin: -15px;
    overflow: hidden;
}

.lab-slider-wrapper .slider-inner > div {
    float: left;
    width: 50%;
    padding: 15px;
}

.lab-slider-wrapper .slider-item .image-wrap .thumbnail {
    width: 400px;
    height: 520px;
    margin-left: auto;
    transform: scale(.9);
    transition: 1.5s;
    background-color: #34373d;
    background-position: center;
}

.lab-slider-wrapper .slider-item .text-wrap {
    transition: 1.5s;
    transform: translateX(350px);
    opacity: 0;
}

.lab-slider-wrapper .slider-item .text-wrap .index {
    font-size: 23px;
    font-weight: 600;
    margin-top: 40px;
    color: #fff;
}

.lab-slider-wrapper .slider-item .text-wrap .index span {
    font-size: 18px;
    color: #34373d;
}

.lab-slider-wrapper .slider-item .text-wrap .title-wrap {
    position: relative;
    display: inline-block;
    margin-bottom: 60px;
}

.lab-slider-wrapper .slider-item .text-wrap .title-wrap h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 200;
    margin-left: -.04em;
    letter-spacing: 0;
    transition: 1.8s;
}

.lab-slider-wrapper .slider-item .text-wrap .title-wrap .btn-more {
    position: absolute;
    display: block;
    width: 4em;
    height: 4em;
    color: black;
    text-align: center;
    font-size: 14px;
    line-height: 4em;
    right: -3em;
    top: -1em;
    cursor: pointer;
}

.lab-slider-wrapper .slider-item .text-wrap .title-wrap .btn-more .bg {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    border-radius: 3em;
    background-color: #fff;
    transition: .5s;
    transform: scale(1);
}

.lab-slider-wrapper .slider-item .text-wrap .title-wrap .btn-more .txt {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}

.lab-slider-wrapper .slider-item .text-wrap .title-wrap .btn-more:hover .bg {
    transform: scale(1.2);
}

.lab-slider-wrapper .slider-item .text-wrap .title-wrap .comment {
    font-size: 18px;
    font-weight: 300;
    transition: 1.8s;
}

.lab-slider-wrapper .slider-item .text-wrap {
    white-space: nowrap;
}

.lab-slider-wrapper .slider-item .text-wrap .explain {
    margin-bottom: 50px;
}

.lab-slider-wrapper .slider-item .text-wrap .technics-wrap {
    max-width: 400px;
    white-space: normal;
}

.lab-slider-wrapper .slider-item .text-wrap .technic {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 12px;
    background-color: rgba(50, 30, 30, .5);
}

/* .lab-slider-wrapper .slider-item .text-wrap .technic .divide {
    display: inline-block;
    margin: 0 10px;
    color: #8d4256;
}

.lab-slider-wrapper .slider-item .text-wrap .technic:last-child .divide {
    display: none;
} */

.lab-slider-wrapper .slider-item.selected {
    width: 80vw;
    opacity: 1;
}

.lab-slider-wrapper .slider-item.selected .text-wrap {
    transform: translateX(0px);
    opacity: 1;
}

.lab-slider-wrapper .slider-item.selected .image-wrap .thumbnail {
    transform: scale(1);
}

.lab-slider-wrapper .navigator {
    display: inline-block;
    margin: 50px 0;
}

.lab-slider-wrapper .navigator .nav-item {
    position: relative;
    margin-right: 3px;
    float: left;
    transition: .3s;
    cursor: pointer;
}

.lab-slider-wrapper .navigator .nav-item .bar {
    margin-top: 4px;
    width: 40px;
    height: 8px;
    background-color: #222;
    transition: .3s;
}

.lab-slider-wrapper .navigator .nav-item .bar-hover {
    position: absolute;
    display: none;
    bottom: 40px;
    left: 0;
    /* transform: translate( -50%, 0 ) */
}

.lab-slider-wrapper .navigator .nav-item .bar-hover img {
    position: absolute;
    left: -60px;
    width: 50px; 
    height: 50px;
    object-fit: cover;
    transform: translateY( -25% )
}

.lab-slider-wrapper .navigator .nav-item .bar-hover {
    white-space: nowrap;
}

.lab-slider-wrapper .navigator .nav-item:hover .bar {
    margin-top: 0;
    width: 60px;
    height: 16px;
    background-color: #555;
}

.lab-slider-wrapper .navigator .nav-item:hover .bar-hover {
    display: block;
}

.lab-slider-wrapper .navigator .nav-item.selected .bar {
    background-color: #ff4b7b;
}