@import url('https://fonts.googleapis.com/css?family=Squada+One&display=swap');
@import url('https://db.onlinewebfonts.com/c/1db29588408eadbd4406aae9238555eb?family=Consolas');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300&display=swap');
@font-face { font-family: 'S-CoreDream-3Light'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); 
    font-weight: normal; font-style: normal; }
@font-face { font-family: 'S-CoreDream-1Thin'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff'); 
    font-weight: normal; font-style: normal; }
@font-face { font-family: 'S-CoreDream-9Black'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff'); 
    font-weight: normal; font-style: normal; }
    
@import './scss/reset.scss';
@import './scss/theme.scss';
@import './scss/fonts.scss';
@import './scss/layout.scss';
@import './scss/content-layout.scss';
@import './scss/modules.scss';
@import './scss/animates.scss';
@import './scss/status.scss';

main.subpage-content {
    overflow-x: hidden;
}

@media screen and ( max-width: 1023px ) {
    main.subpage-content { margin-left: 0; width: 100vw; }
}