.home-main {
    position: relative;
    height: 100vh;
    background-color: #111;
}

.home-main .vertical-line {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    transition: 1s;
    opacity: 1;
}

.home-main .vertical-line .line { 
    height: 70vh;
    width: 1px;
    margin: 50px auto;
    background-color: white;
    opacity: .1;
}

.home-main .vertical-line a,
.home-main .vertical-line button {
    margin-right: 30px;
    padding: .5em 1em .2em;
    position: relative;
    display: inline-block;
    transition: .5s;
}

.home-main .vertical-line a::before, 
.home-main .vertical-line button::before {
    content: ' ';
    position: absolute;
    height: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff4b7b;
    transition: .5s;
    z-index: -5;
}

.home-main .vertical-line a:hover,
.home-main .vertical-line button:hover {
    color: black;
}

.home-main .vertical-line a:hover::before, 
.home-main .vertical-line button:hover::before {
    top: 0;
    height: 100%;
}

.home-section {
    position: relative;
    color: white;
    text-align: center;
    background-color: #111;
    min-height: 100vh;
}

.menu-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 120%;
    margin-left: -10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    opacity: 1;
    transition: 1s;
}

.menu-wrapper .item { display: block; position: absolute; transition: 1s; transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1); }
.menu-wrapper .item.center { position: relative; margin: auto; right: 0; left: 0; }
.menu-wrapper .item.left { left: 0; }
.menu-wrapper .item.right { right: 0; margin-top: 0; }
.menu-wrapper .item.left.aligned { left: 50%; transform: translateX(-50%); }
.menu-wrapper .item.right.aligned { right: 50%; transform: translateX(50%); }

.menu-wrapper.aligned { top: 80px; transform: none; }
/* .menu-wrapper.aligned .item.left, */
/* .menu-wrapper.aligned .item.right { margin-top: 80px } */

.menu-wrapper .item.bg { width: 300px; height: 500px; }
.menu-wrapper .item.bg .child { width: 100%; height: 100%; background-color: #222e3e; transition: 1.2s; transition-timing-function: cubic-bezier(.72,0,.19,1); }
.menu-wrapper .item.bg.left .child.cue1 { transform: scaleY(2.5); }
.menu-wrapper .item.bg.left .child.cue2 { width: 120vw; }
.menu-wrapper .item.bg.left .child.cue3 { transform: scaleY(2.5) translateX(100%); }
.menu-wrapper .item.bg.right .child.cue1 { transform: translateX(-60vw) scaleX(12); }
.menu-wrapper .item.bg.right .child.cue2 { transform: translateX(-60vw) scaleX(12) scaleY(0); }

.menu-wrapper .item.dim {
    color: #414953;
}

.menu-wrapper .item.focused {
    letter-spacing: .1em;
    color: white;

}

@media screen and ( max-width: 1024px ) {
    .menu-wrapper#jsMenuTexts {
        flex-direction: column;
    }

    .menu-wrapper#jsMenuTexts .item {
        position: static;
    }

    #jsMenuBgLeft {
        transform: translateX(-50%);
    }
    #jsMenuBgRight {
        transform: translateX(50%);
    }
}