.lab-slider-wrapper .slider-item {
    width: 100%;
    position: absolute;
    opacity: .15;
    transition: 1.5s;
    padding: 0 150px;

    .slider-inner {
        margin: -40px;
        
        > div {
            float: left;
            width: 50%;
            padding: 40px;
        }
        
        .image-wrap {
            transition: transform cubic-bezier(.44,.03,.53,1) 2.3s;

            &.slide-hide {
                transform: translateY(200px);
            }

            .thumbnail {
                max-width: 80vw;
                width: 60vh;
                height: 60vh;
                margin-left: auto;
                transform: scale(.9);
                transition: 1.5s;
                background-color: #34373d;
                background-position: center;
                background-size: cover;
            }
        }

        .text-wrap {
            transition: 1.5s;
            transform: translateX(350px);
            opacity: 0;
            white-space: nowrap;

            .title-wrap {
                position: relative;
                transition: .5s;
                display: inline-block;
                margin: 5vh 0 5vh;
                text-align: left;

                &:hover {
                    .lab-title:first-child::before {
                        transform: scale(1.3);
                    }
                } 

                .lab-title {
                    position: relative;
                    margin-left: -1.3em;
                    color: #fff;
                    white-space: nowrap;
                    transition: 1.8s;
            
                    &:first-child {
                        display: inline-block;
                    }
            
                    &:first-child::after {
                        content: 'GO!';
                        display: block;
                        position: absolute;
                        right: -30px;
                        top: -30px;
                        width: 60px;
                        height: 60px;
                        line-height: 60px;
                        text-align: center;
                        color: #111;
                        font-size: 35px;
                    }
            
                    &:first-child::before {
                        content: ' ';
                        display: block;
                        position: absolute;
                        right: -30px;
                        top: -30px;
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        transform: scale(1.0);
                        transition: .5s;
                        background-color: white;
                    }
                }                    
                &:hover {
                    .lab-title:first-child::before {
                        transform: scale(1.3);
                    }
                }
            }

            .comment {
                transition: 1.8s;
            }
            
            .explain {
                margin-bottom: 5vh;

                p { transition: 1.8s; }
            }
            
            .technics-wrap {
                max-width: 400px;
                white-space: normal;

                .technic {
                    display: inline-block;
                    margin-right: 30px;
                    margin-bottom: 10px;
                    font-size: 18px;

                    &.git {
                        color: white;
                        font-family: 'S-CoreDream-9Black'; 
                    }
                }
            }
        }
    }
}

.slider-item.selected {
    opacity: 1;

    .slider-inner {
        .text-wrap {
            transform: translateX(0px);
            opacity: 1;
        }

        .image-wrap .thumbnail {
            transform: scale(1);
        }
    }
}


@media screen and ( max-width: 1280px ) {
    .lab-slider-wrapper {
        .slider-item {
            .slider-inner {
                .image-wrap {
                    .thumbnail { margin: 0; opacity: .5; }
                }
            }
        }
    }
}


@media screen and ( max-width: 1023px ) {
    .lab-slider-wrapper {
        .slider-item {
            .slider-inner {
                > div { width: 100%; }
                .text-wrap {
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    position: absolute;

                    .title-wrap {
                        margin-left: 20px;

                        .lab-title {
                            font-size: 80px;
                            margin-left: 0;
                        }
                    }
                    .explain {
                        display: none;
                    }
                    .technics-wrap {
                        display: none;
                    }
                }
            }

            &.selected {
                padding: 0;
                
                .slider-inner {
                    .image-wrap {
                        .thumbnail { width: 100%; }
                    }
                }
            }
        }
    }
}

@media screen and ( max-width: 767px ) {
    .lab-slider-wrapper {
        .slider-item {
            .slider-inner {
                .text-wrap {
                    .title-wrap {
                        margin: 2vh 0 2vh;
                    }
                    .explain {
                        margin-bottom: 2vh;
                    }                
                } 
            }
        }
    }
}